---
import Layout from '../layouts/Layout.astro';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import Header from "@/components/astro/header.astro";
import Footer from "@/components/astro/footer.astro";
---

<Layout title="EOS Astro Tool About">
	<main>
		<Header />
		<div class="grid grid-cols-1 mt-5">
			<div class="col-span-1">
				<Card>
					<CardHeader>
						<CardTitle>About this EOS Astro tool</CardTitle>
						<CardDescription>Do you want to know more?</CardDescription>
					</CardHeader>
					<CardContent>
						<p class="leading-6">
							This tool enables you to craft actions for broadcasting to EOS/BEOS/TLOS blockchains through the <a href="https://github.com/beetapp/beeteos" class="text-purple-500">BeetEOS</a> multiwallet.
						</p>

						<p class="leading-6 mt-3">
							The <a href="https://github.com/beetapp/beeteos" class="text-purple-500">BeetEOS</a> multi-wallet securely handles authentication and key management so that 3rd party tools like this one can focus solely on client side developments.
						</p>

						<p class="leading-6 mt-3">
							Since <a href="https://github.com/beetapp/beeteos" class="text-purple-500">BeetEOS</a> handles authentication, there's no need to login with your EOS account credentials in this webapp to begin crafting your EOS operations.
						</p>

						<p class="leading-6 mt-3">
							This tool is aimed at being an evergreen modern web application, setting a standard for other <a href="https://github.com/beetapp/beeteos" class="text-purple-500">BeetEOS</a> based dapps. Feel free to fork <a href="https://github.com/BTS-CM/astro-eos-tool">this application's github repository</a> as a template for your own dapp, or even just to host it on Vercel yourself.
						</p>

						<p class="leading-6 mt-3">
							This tool was developed by the <a href="https://nftea.gallery" class="text-purple-500">NFTEA Gallery</a>. To support development consider colecting an <a href="https://nftea.gallery/gallery" class="text-purple-500">NFTEA NFT</a>, or donating to either my <a href="https://blocksights.info/#/accounts/nft.artist" class="text-purple-500">BTS</a> or <a href="https://bloks.io/account/nfteagallery" class="text-purple-500">EOS</a> blockchain accounts directly. Thanks :) 
						</p>
					</CardContent>
				</Card>
			</div>
		</div>
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100%;
		height: 100%;
	}
</style>
